#particles-js{
	background: url(imagenes/fondo.jpg);
	background-position: center;
	background-attachment: contain;
	background-size: cover;
}
.ancho-letras{
	top: 200px;
	position: absolute;
	width: 100%;
	text-align: center;
	z-index: 1;

}
.letras-slider{
width: 80%;
margin: auto;
}
.letras-slider h1{
	color: #fff;
	font-family: ralex;
	font-size: 80px;
}
.letras-slider p{
	color: #fff;
	font-family: ralex;
	font-size: 22px;
	padding-bottom: 80px;
}